
body{
    background-repeat: no-repeat;
    background-image: url(kleding.jpg),
    url(kleding2.jpg),
    url(kleding3.jpg),
    url(kleding4.jpg);
    background-size: 25%
    ;      
    background-position:
    35% 150,
    35% 500,
    70% 150,
    97% 150;
} 