
body{background-size: 20%;
    background-repeat: no-repeat;
    background-image: url(kleding.jpg),
    url(kleding2.jpg),
    url(kleding3.jpg)
    ;      
    background-position: 
    30% 150,
    30% 350,
    30% 850;
    
}    